# Local remote access by: docker run -it --rm postgres psql "postgresql://neondb_owner:...=require&sslmode=require"
DATABASE_URL=postgresql://neondb_owner:...=require&sslmode=require

# Generate by: echo "$(openssl rand -base64 32)"
AUTH_SECRET=your-generated-secret-here

# Also on Vercel, add AUTH_SECRET and AUTH_URL under Settings > Environment Variables.
# The value of AUTH_URL is the public URL of your deployed app, for example https://your-app.vercel.app.